name: Delpot to S3
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build

      - name: Delpoy to S3 bucket
        uses: reggionick/s3-deploy@v4
        with:
          bucket-region: ${{ secrets.AWS_REGION }}
          bucket: ${{ secrets.AWS_BUCKET }}
          folder: "dist"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
